<div class="ticTacToe">
  <select [(ngModel)]="selectedDifficulty" (change)="reset()">
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select>
  <button class="X">❌</button>
  <button class="O" (click)="choosePlayerSymbol()">⭕</button>
  {{ winner }}
  {{ draw }}
  <div class="board">
    @for (row of board; track row; let y = $index) {
    <div class="row">
      @for (tile of row; track tile; let x = $index ) {
      <div class="tile" (click)="clickTile(x, y)">
        {{ tile }}
      </div>
      }
    </div>
    }
  </div>
</div>
