.footer {
  color: #7c7b7b;
  width: 100%;
  height: 20px;
  bottom: 0;
  position: fixed;
  background-color: transparent;
  //background-color: #201e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
