<header>
    <div class="header">
        <ul class="navbar">
            <li>
                <a class="navbar-item" 
                routerLink="" 
                routerLinkActive="navbar-item-active"
                >test</a>
            </li>
            <li>
                <a class="navbar-item" 
                href="https://github.com/LukasBisz"
                >Github</a>
            </li>
            <li>
                <a class="navbar-item" 
                routerLink="login"
                routerLinkActive="navbar-item-active"
                >test3</a>
            </li>
        </ul>
    </div>

</header>