<body>
  <div class="wrapper">
    <iframe class="embed" id="pdf" src="" frameborder="0"></iframe>
    <div class="text">
      I created this website using
      <span class="textWeight">Angular 17</span>.<br />
      For my backend needs, I used
      <span class="textWeight">Google's Firebase</span>, which handles login
      authentication.
      <br />
      Using API calls to compare a user's login credentials with the database,
      which is saved in Firebase,<br />
      As well as handling my storage needs for the CV, which you see right
      in front of you.
    </div>
  </div>
</body>
